.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*~
public/system
*.swp
*.swo
db/legacy
.DS_Store
tags
.sass-cache/

# Ignore application configuration
config/application.yml
config/database.yml
config/secrets.yml
.env
