<% content_for :title, "#{@account.name}: Edit Unbound Account Entry" %>

<h1><%= @account.name %>: Edit Unbound Account Entry</h1>

<%= render :partial => 'account_entries/form', :locals => {:account_entry => @unbound_account_entry} %>
