<% content_for :title, "#{@account.name} Unbound Account Entry" %>

<h1><%= @account.name %> Unbound Account Entry</h1>

<%= render :partial => 'account_entries/show', :locals => {:account_entry => @unbound_account_entry} %>
