<% content_for :title, "#{@account.name}: New Shareholder Account Entry" %>

<h1><%= @account.name %>: New Shareholder Account Entry</h1>

<%= render :partial => 'account_entries/form', :locals => {:account_entry => @shareholder_account_entry} %>
