<% content_for :title, "#{@account.name}: New Shareholder Account Entry" %>

<h1><%= @account.name %>: New Shareholder Account Entry</h1>

<%= render :partial => 'account_entries/form' %>

<%= link_to 'Back', account_account_entries_path(@account) %>
