/*
 *
 * Pagination
 *
 */
div.pagination {
    text-align: center;
    padding: 20px 0;
}
a.previous_page {
    float: left;
}
a.next_page {
    float: right;
}
a.previous_page,
a.next_page {
    padding: 0.5em 0.8em;
    background: #33900B;
    color: #fff !important;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a.previous_page:hover,
a.previous_page:active,
a.next_page:hover,
a.next_page:active {
    background: #0081cc;
}

div.pagination span.previous_page.disabled,
div.pagination span.next_page.disabled {
    padding: 0.5em 0.8em;
    background: #bbb;
    color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
}
div.pagination span.previous_page.disabled {
    float: left;
}
div.pagination span.next_page.disabled {
    float: right;
}

