<% content_for :title, "#{@account.name}: Listing Bills" %>
<h1><%= @account.name %>: Listing Account Events</h1>

<table class="table-striped table-bordered table-condensed">
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th>Bill</th>
    <th>Credit</th>
    <th>Type</th>
    <th>Note</th>
    <th>My Part</th>
    <th>My Balance</th>
    <th></th>
    <th></th>
  </tr>
<% @balance_events.each do |item| %>
  <% if item.bill.present? %>
    <%= render :partial => 'bill_row', :locals => { :bill_row => item.bill } %>
  <% else %>
    <%= render :partial => 'account_entry_row', :locals => { :account_entry_row => item.account_entry } %>
  <% end %>
<% end %>

</table>
<%= will_paginate @balance_events %>
