/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require_tree .
*/

button#search-toggle {
  margin-top: -50px;
}

form input.check-number {
  width: 75px;
  }

form input.entry-amount {
  width: 75px;
  text-align: right;
  }

form input.datepicker {
  width: 80px;
  }

form input.payee {
  width: 300px;
  }

form input.share-ratio {
  width: 35px;
  }

form textarea.note {
  width: 300px;
  height: 50px;
  }

table tr td.currency, div.currency {
  text-align: right;
  }

td.shares div.grid {
  margin: auto;
  }

div.grid {
  max-width: 450px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  text-align: left;
  }

div.grid.shares {
  margin-bottom: 20px;
  }

div.grid-row {
  clear: both;
  overflow: auto;
  padding: 5px;
  border-top: 1px solid #DDDDDD;
  }

div.grid-row:nth-of-type(odd) {
  background: #F9F9F9;
  }

div.grid-row:first-child {
  border-radius: 5px 5px 0 0;
  border-top: none;
  }
  
div.grid-row:last-child {
  border-radius: 0 0 5px 5px;
  }

div.grid-row.header {
  font-weight: bold;
  background: #F9F9F9;
  border-bottom: 1px solid black;
  }

div.grid-cell {
  float: left;
  padding: 0 5px;
  }

.grid .grid-row .grid-cell .control-group {
  margin-bottom: 0;
  }

.grid .grid-row .grid-cell .controls {
  margin-left: 0;
  }

.grid .grid-row .grid-cell input[type="checkbox"] {
  float: none;
  }

.grid .grid-row .grid-cell select {
  width: 165px;
  padding: 0;
  height: inherit;
  line-height: inherit;
  }

.grid .grid-row .grid-cell input {
  padding: 0 4px;
  }

div.grid-cell div.boolean {
  margin-left: 0;
  text-align: center;
  }

div.grid-cell div.grid-input {
  margin-bottom: 0;
  }

div.column-first {
  width: 165px;
  }

div.column-second {
  width: 70px;
  }

div.column-third {
  width: 70px;
  }

div.column-fourth {
  width: 50px;
  margin-left: 20px;
  text-align: center;
  }

div.button {
  clear: both;
  }

dl dt {
  float: left;
  width: 170px;
  padding: 5px 0;
  }

dl dd {
  font-weight: bold;
  padding: 5px 0;
  }

table td.center {
  text-align: center;
  }

div.submit {
  margin-top: 20px;
  }

form.form-inline br {
  display: block;
  margin: 4px;
  }

