<% content_for :title, "#{@account.name}: Edit Shareholder Bill" %>

<h1><%= @account.name %>: Edit Shareholder Bill</h1>

<%= render :partial => 'bills/form' %>

<%= link_to 'Show', edit_account_shareholder_bill_path(@account,@bill) %> |
<%= link_to 'Back', account_bills_path(@account) %>
