<% content_for :title, "#{@account.name}: New Shareholder Bill" %>

<h1><%= @account.name %>: New Shareholder Bill</h1>

<%= render :partial => 'bills/form' %>

<%= link_to 'Back', account_shareholder_bills_path(@account) %>
