<% content_for :title, "#{@account.name}: View Shareholder Bill" %>

<h1><%= @account.name %>: View Shareholder Bill</h1>

<%= render :partial => 'bills/show', :locals => {:bill => @shareholder_bill} %>
